@import "tailwindcss";

@layer base {
  :root {
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);
    --safe-right: env(safe-area-inset-right);
  }
}

@layer utilities {
  .pt-safe {
    padding-top: var(--safe-top);
  }
  .pb-safe {
    padding-bottom: var(--safe-bottom);
  }
  .pl-safe {
    padding-left: var(--safe-left);
  }
  .pr-safe {
    padding-right: var(--safe-right);
  }
}
