name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          check-latest: true
          cache: 'npm'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10.2

      - name: Check Node Version
        run: node -v

      - name: Install Dependencies
        run: npm install

      - name: Build Web App
        run: npm run build

      - name: Capacitor Sync
        run: |
          if [ ! -d "android" ]; then
            npx cap add android
          fi
          npx cap sync

      - name: Build Android APK
        run: |
          cd android
          gradle assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
